{% load i18n %}{% autoescape off %}
{% blocktranslate %}Hello {{user.get_username}} , you are recieving this email to reset your password {{ site_name }}.{% endblocktranslate %}
{% translate "Please go to the following page and choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate "Your username, in case you've forgotten:" %} {{ user.get_username }}
{% translate "Thanks for using the site!" %}
{% endautoescape %}